body {
  background: var(--greyishWhite);
}
.card {
  display: block;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 1%;
  width: 90vw;
  border-radius: 1rem;
  cursor: pointer;
  transition: ease 0.5s;
  box-shadow: -1.5rem 1.5rem 3rem var(--blue);
  background-color: var(--blue);
  color: cyan;
}
.card:hover {
  transform: scale(1.1);
}
